<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t]: %C{0}.%M:%L %m%n</pattern>
        </layout>
    </appender>

    <appender name="file"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/sdk-server/server.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/sdk-server/server.%d{yyyyMMdd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>sdk-server|%date|%level|[%thread]|%logger|%msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="file.error"-->
<!--              class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/sdk-server/server.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <FileNamePattern>logs/sdk-server/err.%d{yyyyMMdd}.%i.log</FileNamePattern>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>100MB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>sdk-server|%date|%level|[%thread]|%logger|%msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <logger name="io.grpc.netty" level="error"/>
    <logger name="org.apache.http" level="error"/>
    <logger name="io.netty" level="error"/>

    <root level="trace">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file"/>
    </root>

</configuration>